/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}
	
	.star {
	    font-size: x-large;
	    width: 25px;
	    display: inline-block;
	    color: gray;
	}
	.star:last-child {
	    margin-right: 0;
	}
	.star:before {
	    content:'\2605';
	}
	.star.on {
	    color: gold;
	}
	.star.half:after {
	    content:'\2605';
	    color: gold;
	    position: absolute;
	    margin-left: -22.5px;
	    width: 10.5px;
	    overflow: hidden;
	}